//////////////////////////////////////////////////////////////////////
///////////////////////////// SCAFFOLDING ////////////////////////////
//////////////////////////////////////////////////////////////////////

// Baseline --------------------------------------------------------- /

+establish-baseline(15px)
+to($tablet)
  +establish-baseline(18px)

// Body ------------------------------------------------------------ /

body, html
  margin: 0
  padding: 0

body
  +font-size(1rem)
  @extend %noise-block
  background-color: grey(95)
  font-family: 'Arvo', $serifFontFamily

// Container ------------------------------------------------------- /

#container
  @extend %container-wide
  max-width: 90%
  +to($wider)
    max-width: 100%

// Scaffolding ----------------------------------------------------- /

@import scaffolding/typography
@import scaffolding/block
