header
  @extend %accent-block
  +double-shadow(5px)
  position: relative
  z-index: 5

  h1
    color: white
    font-family: $font-condensed
    font-weight: 400
    margin: 0
    text-transform: uppercase