//////////////////////////////////////////////////////////////////////
//////////////////////////////// HEADER //////////////////////////////
//////////////////////////////////////////////////////////////////////

header
  @extend %transition
  @extend %big-accent-block
  +double-shadow(5px)
  position: relative
  z-index: 5

  &:hover
    background-color: lighten($color-base, 10)

  h1
    font-family: $font-condensed
    font-size: 4rem
    margin: 0

  // Responsive ---------------------------------------------------- /

  +to($tablet)
    h1
      font-size: 2rem