//////////////////////////////////////////////////////////////////////
///////////////////////////// NAVIGATION /////////////////////////////
//////////////////////////////////////////////////////////////////////

nav.main
  +border-top-radius(0)
  +span-columns(2)
  background-color: white
  margin-bottom: 2rem

  &.affix
    top: 0

  li a
    @extend %transition
  li:first-child a
    +border-top-radius(0)
  a
    color: $color-base
  a:hover, & > li.active > a
    +border-radius(0)
    background-color: lighten($color-base, 20)
    color: white
  & > li.active > a
    background-color: lighten($color-base, 10)
  & > li.active > a:hover, & > li > a:hover
    @extend %accent-block

  // Responsive ---------------------------------------------------- /

  +to($tablet)
    display: none

  +from-to($tablet, $wide)
    +span-columns(4)

// Subnavigations -------------------------------------------------- /

.subnav
  @extend %container-wide
  display: none
  margin: 0
  li
    +per-row(2)
    +to($wide)
      +per-row(1)
    width: 50%
    margin-right: 0
    &.active a
      @extend %accent-block
    a
      background-color: fade($color-base, 50)
      color: white
      &:hover
        @extend %accent-block

.breadcrumb
  @extend %accent-block
  margin: 0.5rem 0
  a
    font-size: 0.9rem
    color: white
    text-shadow: none